<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/mdbaizidtanvir/">Facebook</a></li>
            <li><a href="https://twitter.com/TanvirBaizid">Twitter</a></li>
            <li><a href="https://github.com/Mdbaizidtanvir">Github</a></li>
          </ul>
        </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Developed by <a href="https://baizidtp.com">@Mdbaizidtanvir</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>